---
const { size = "size-7" } = Astro.props;
---
<svg class={size} viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>Flutter</title>
  <path d="M14.314 0L2.3 12 6 15.7 21.684.013h-7.357z" fill="#54C5F8"/>
  <path d="M14.328 11.072L7.857 17.53l3.67 3.715L17.5 15.228l-3.172-4.156z" fill="#01579B"/>
  <path d="M21.7 24H14.32l-3.667-3.713 3.17-4.155L21.7 24z" fill="#29B6F6"/>
</svg>
