---
const { size = "size-9" } = Astro.props;
---
<svg class={size} viewBox="0 0 24 24" fill="#F80000" xmlns="http://www.w3.org/2000/svg">
  <title>Oracle</title>
  <path d="M12 3c-6.075 0-11 4.03-11 9s4.925 9 11 9 11-4.03 11-9-4.925-9-11-9zm0 14c-3.866 0-7-2.239-7-5s3.134-5 7-5 7 2.239 7 5-3.134 5-7 5z"/>
</svg>