<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mí</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400"> <strong class="text-zinc-100 font-medium">Desarrollador FullStack enfocado en la creación de APIs REST robustas y escalables, con sólida base en principios SOLID y microservicios. Cuento con experiencia práctica aplicando tecnologías modernas para el manejo eficiente de concurrencia y optimización de procesos, con alta adaptabilidad para aportar tanto en entornos .NET Core 5+ y Node.js en el backend, como en Angular 17+ en el frontend. Mi perfil se complementa con el manejo de persistencia de datos y bases de datos como PostgreSQL, herramientas esenciales como Docker y Git, y habilidades en análisis de requerimientos. Además, cuento con un nivel de inglés B2 que me permite integrarme sin problemas en equipos internacionales.</strong></p>
</section>
