<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">
    <span class="lang-es">Sobre mí</span>
    <span class="lang-en">About me</span>
  </h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
    <strong class="text-zinc-100 font-medium lang-es">Desarrollador FullStack enfocado en la creación de APIs REST robustas y escalables, con sólida base en principios SOLID y microservicios. Cuento con experiencia práctica aplicando tecnologías modernas para el manejo eficiente de concurrencia y optimización de procesos, con alta adaptabilidad para aportar tanto en entornos SpringBoot y Node.js en el backend, como en Angular 17+ en el frontend. Mi perfil se complementa con el manejo de persistencia de datos y bases de datos como PostgreSQL, herramientas esenciales como Docker y Git, y habilidades en análisis de requerimientos. Además, cuento con un nivel de inglés B2 que me permite integrarme sin problemas en equipos internacionales.</strong>
    <strong class="text-zinc-100 font-medium lang-en">FullStack Developer focused on creating robust and scalable REST APIs, with a solid foundation in SOLID principles and microservices. I have practical experience applying modern technologies for efficient concurrency management and process optimization, with high adaptability to contribute both in SpringBoot and Node.js backend environments, as well as Angular 17+ on the frontend. My profile is complemented by data persistence management and databases such as PostgreSQL, essential tools like Docker and Git, and requirements analysis skills. Furthermore, I have a B2 English level that allows me to seamlessly integrate into international teams.</strong>
  </p>
</section>
