<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">
    <span class="lang-es">Sobre mí</span>
    <span class="lang-en">About me</span>
  </h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
    <strong class="text-zinc-100 font-medium lang-es">
  Estudiante de Ingeniería de Software enfocado en el desarrollo Full-Stack. 
  Me interesa construir aplicaciones web y APIs REST, fortaleciendo continuamente mis fundamentos de ingeniería de software, desarrollo backend y bases de datos. 
  Tengo experiencia trabajando con JavaScript, TypeScript, React, Node.js y PostgreSQL, además de herramientas como Docker y Git. 
  Actualmente estoy ampliando mis conocimientos en Java y SpringBoot, mientras desarrollo proyectos prácticos para mejorar mis habilidades y comprender mejor la arquitectura y el funcionamiento de sistemas de software.
</strong>

<strong class="text-zinc-100 font-medium lang-en">
  Software Engineering student focused on Full-Stack development. 
  I'm interested in building web applications and REST APIs while continuously strengthening my software engineering, backend development, and database fundamentals. 
  I have experience working with JavaScript, TypeScript, React, Node.js, and PostgreSQL, along with tools such as Docker and Git. 
  I'm currently expanding my knowledge of Java and SpringBoot while building practical projects to improve my skills and gain a deeper understanding of software architecture and how systems work.
</strong>
  </p>
</section>
