---
import ProjectCard from "@components/ProjectCard.astro";
import Postgresql from "@assets/icons/postgresql.astro";
import Git from "@assets/icons/git.astro";
import Github from "@assets/icons/github.astro";
import Docker from "@assets/icons/docker.astro";
import Postman from "@assets/icons/postman.astro";
import Angular from "@assets/icons/angular.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">
    <span class="lang-es">Proyectos</span>
    <span class="lang-en">Projects</span>
  </h2>
  <hr class="mb-6 border-zinc-600" />

  <ProjectCard
    projectTitle="SGDUF"
    projectDescription="<span class='lang-es'>SGDUF es un completo sistema web diseñado para la administración integral de farmacias, enfocado en optimizar la gestión operativa, comercial y de inventarios en tiempo real.</span><span class='lang-en'>SGDUF is a complete web system designed for the comprehensive management of pharmacies, focused on optimizing operational, commercial, and inventory management in real time</span>"
    projectLink="https://sgduf.vercel.app/"
    githubLink="https://github.com/eliascvrno/SGDUF"
    images={[
      "/images/sgduf.PNG",
      "/images/sgduf1.PNG",
      "/images/sgduf2.PNG",
      "/images/sgduf3.PNG",
      "/images/sgduf4.PNG",
    ]}
  >
  </ProjectCard>

  <ProjectCard
    projectTitle="Trackly"
    projectDescription="<span class='lang-es'>Trackly es una aplicación web moderna y robusta diseñada para el control, registro y administración de ingresos y gastos personales. Desarrollada bajo la arquitectura MVC (Model-View-Controller) con tecnologías de Microsoft.</span><span class='lang-en'>Trackly is a modern and robust web application designed for the control, registration, and management of personal income and expenses. Developed under the MVC (Model-View-Controller) architecture with Microsoft technologies</span>"
    projectLink="https://trackly-allb.onrender.com/"
    githubLink="https://github.com/eliascvrno/Trackly"
    images={[
      "/images/Trackly4.PNG",
      "/images/Trackly.PNG",
      "/images/Trackly1.PNG",
      "/images/Trackly2.PNG",
    ]}
  >
  </ProjectCard>

</section>