---
import IconContainer from "@components/IconContainer.astro";
import Css from "@assets/icons/css.astro";
import Javascript from "@assets/icons/javascript.astro";
import Html from "@assets/icons/html.astro";
import Node from "@assets/icons/node.astro";
import Flutter from "@assets/icons/flutter.astro";
import Oracle from "@assets/icons/oracle.astro";
import Git from "@assets/icons/git.astro";
import Docker from "@assets/icons/docker.astro";
import Postman from "@assets/icons/postman.astro";
import Mongo from "@assets/icons/mongo.astro";
import Typescript from "@assets/icons/typescript.astro";
import Angular from "@assets/icons/angular.astro";
import Dotnet from "@assets/icons/dotnet.astro";
import Redis from "@assets/icons/redis.astro";
import Actions from "@assets/icons/actions.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Tecnologías y herramientas</h2>
  <hr class="mb-6 border-zinc-600">

  <h3 class="text-xl font-medium mb-4">Frontend</h3>
  <div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <IconContainer name="Flutter">
      <Flutter size="size-9" />
    </IconContainer>
    <IconContainer name="Typescript">
      <Typescript size="size-9" />
    </IconContainer>
    <IconContainer name="Angular">
      <Angular size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Backend & Bases de Datos</h3>
  <div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <IconContainer name=".NET Core">
      <Dotnet size="size-9" />
    </IconContainer>
    <IconContainer name="Node.js">
      <Node size="size-9" />
    </IconContainer>
    <IconContainer name="MongoDB">
      <Mongo size="size-9" />
    </IconContainer>
    <IconContainer name="Oracle">
      <Oracle size="size-9" />
    </IconContainer>
    <IconContainer name="Redis">
      <Redis size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Herramientas & CI/CD</h3>
  <div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <IconContainer name="Postman">
      <Postman size="size-9" />
    </IconContainer>
    <IconContainer name="Git">
      <Git size="size-9" />
    </IconContainer>
    <IconContainer name="Docker">
      <Docker size="size-9" />
    </IconContainer>
    <IconContainer name="Actions">
      <Actions size="size-9" />
    </IconContainer>