---
import IconContainer from "@components/IconContainer.astro";
import Git from "@assets/icons/git.astro";
import Docker from "@assets/icons/docker.astro";
import Postman from "@assets/icons/postman.astro";
import Angular from "@assets/icons/angular.astro";
import Postgresql from "@assets/icons/postgresql.astro";
import Java from "@assets/icons/java.astro";
import Springboot from "@assets/icons/springboot.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">
    <span class="lang-es">Tecnologías y herramientas</span>
    <span class="lang-en">Technologies and Tools</span>
  </h2>
  <hr class="mb-6 border-zinc-600" />

  <h3 class="text-xl font-medium mb-4">Frontend</h3>
  <div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <IconContainer name="Angular">
      <Angular size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">
    <span class="lang-es">Backend & Bases de Datos</span>
    <span class="lang-en">Backend & Databases</span>
  </h3>
  <div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <IconContainer name="Java">
      <Java size="size-9" />
    </IconContainer>
    <IconContainer name="Spring Boot">
      <Springboot size="size-9" />
    </IconContainer>
    <IconContainer name="Postgresql">
      <Postgresql size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">
    <span class="lang-es">Herramientas</span>
    <span class="lang-en">Tools & CI/CD</span>
  </h3>
  <div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <IconContainer name="Postman">
      <Postman size="size-9" />
    </IconContainer>
    <IconContainer name="Git">
      <Git size="size-9" />
    </IconContainer>
    <IconContainer name="Docker">
      <Docker size="size-9" />
    </IconContainer>
  </div>
</section>
