---
const { size = "size-9" } = Astro.props;
---
<svg class={size} viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<title>TypeScript</title>
<path d="M1.125 0h21.75c.621 0 1.125.504 1.125 1.125v21.75c0 .621-.504 1.125-1.125 1.125H1.125C.504 24 0 23.496 0 22.875V1.125C0 .504.504 0 1.125 0zm19.344 18.062c.188-.135.32-.34.34-.58v-4.9c0-.46-.375-.837-.835-.837h-3.9c-.46 0-.835.377-.835.837v1.07h2.47v2.9h-2.12v1.5h4.88zM9.463 12.575h4.88v1.5h-1.69v4.062h-1.5V14.08h-1.69v-1.5z"/>
</svg>